<div id="content">
  <mat-card>
    <h1>About me</h1>
    <p>Hi. My name is Nils-Holger Nägele. I am 46, male, single, heterosexual, german, protestant. I was born in the Philippines, grew up in the USA, Africa, Mexico, France and Germany. I currently work in Berlin, Germany.
      I have several degrees: MBA/Computer Science, studied in the American System in France. I started my career as a small Entreprenneur. Started up a couple of small successful companies in the South
      of France, Cote d'Azur, Aix-en-Provence and Marseille. During this process I discovered my love for Software Development and decided to pursue this goal a decade ago. Since then I have been active on a multitude of Software Projects in France
      and Germany. All sorts of configurations: in-house, distributed, off-shore Teams. I have engineered Full Stack solutions in the Backend with C++, V8, NodeJS, Node Addons, C#, Cloud Backend and in the Frontend with Angular 1/2/4/5, JavaScript, HTML5, CSS3, jQuery, ASP.NET MVC,
      Web API. I have moved into the Frontend, that's what I enjoy doing: JavaScript, HTML5 and CSS3, because I appreciate the fast moving Frontend environment.
      Results are immediately visible on the screen. There is no place to hide.
      Take responsibility, and man up. My Technology is JavaScript.
    </p>
    <p>I consider myself a Software Craftsman on a path of continuous learning and improvement. Indeed it is advised to learn a new language/framework each year. What have I learned on my path?
      There are always the same problems. Bugs. Code quality. Unreadable and maintainable code. Communication problems. Duplication of efforts. Asshole behavior. Fakes. To counterstrike these problems I try to adhere to the Clean Code Developers Philosophy.
      Lint the code. Test it. Analyze it. Write readable/maintainable code. Refactor it. Take ownership and pride in your work. Peer reviews are good and Agile Development Methodologies. I am fearless, ruthless and honest. My goal is progress. Produce quality working Software as fast as possible.
      Iterative. I am an Angular Frontend Engineer. Welcome in my world! And I am very close to the Police. Justice. Justice for All. A big cop is deep inside me. In the past many people around me have been arrested. In another life I would have become an undercover cop. Drug enforcement agency. For these
      are terrorists with the goal to destroy our societies from the inside, destroy our youth and destroy the future of the free democatric world. In a perfect world each Policeman would have the authorization to put them down on the spot. Always go after the high hanging fruits.
      Code all the time with passion. We must learn the technology forwards and backwards.
      Read and code the Angular Documentation 10 times. Then study the Source Code. Build many new Angular Apps. Write a couple of Angular Tutorials. Write an Angular 5/6 Gitbook.
      Finally contribute in the Angular repositories on Github. Or get involved in any Open Source project on Github and give back to the progress of humanity.
      Finally Article 1 from the constitution of my country Germany is dear to me. 'Human Dignity is inviolable. To honor and protect is the duty of all State Authorities.'
      I add to honor and protect Human Dignity is the responsibility of all evolved humans. We are all equal. We are all humans. Together we can and will make this world a better place for ourselves and future generations.
      Have fun and enjoy yourself. We only live once. Always keep that in mind.
      Are you making progress or regression?
    </p>
    <p>
        Igor Minar, Team Lead Angular. 'You don't have to be an ass to build an awesome web framework.'
        WORK HARD | BE KIND | DO MORE ...
    </p>
    <p>
      Today is a good day to win. Make progress. Every day is a good day to make progress. I also quote a person whom I respect and love alot. Carmen Popoviciu.
      'What is the future we want to build?'. May she be loved, protected, well taken care of and happy in life. I will always be there for you, Carmen.
      Thank you for the great work you do to make Angular, JavaScript and Machine Learning move forwards. I love you.
    </p>
  </mat-card>
</div>
