<div id="content">
  <mat-card>
    <h1>About me</h1>
    <p>Hi. My name is Nils-Holger Nägele. I am 46, male, single, heterosexual, german, protestant. I was born in the Philippines and grew up in the USA, Africa, Mexico, France and Germany. I currently live in Berlin, Germany.
      I have several degrees Master in Business Administration and Computer Science, studied in the American System in France. I started my career as a small Entreprenneur. Started up a couple of small successful companies in the South
      of France, Cote d'Azur, Aix-en-Provence and Marseille. During this process I discovered my love for Software Development and decided to pursue this goal a decade ago. Since then I have been active on a multitude of Software Projects in France
      and Germany. All sorts of configurations: in-house, distributed, off-shore Teams. I have engineered Full Stack solutions in the Backend with C++, C#, Groovy, Cloud Solutions and in the Frontend with ASP.NET, Web API, jQuery, HTML5, Angular. I have moved into the Frontend,
      that's what I enjoy doing: JavaScript, HTML and CSS, because I appreciate the fast moving Frontend environment. Results are immediately visible on the screen. There is no place to hide. Take responsibility, and man up. My Technology is JavaScript.
    </p>
    <p>I consider myself a Software Craftsman on a path of continuous learning and progress. Indeed it is advised to learn a new language or framework each year. What have I learned on my path?
      There are always the same problems. Bugs. Code quality. Unreadabale and maintainable code. Communication problem. Duplication of efforts. To counterstrike these problems I try to adhere to the Clean Code Developers Philosophy.
      Lint the code. Test it. Analyze it. Write readable/maintainable code. Refactor it. Peer reviews are good and Agile Development Methodologies. I am fearless, ruthless and honest. My goal is progress. Produce quality working Software as fast as possible.
      Iterative. I am an Angular Frontend Engineer. Welcome in my world! And I am very close to the Police. Justice. Justice for All. Code all the time with passion. We must learn the technology forwards and backwards. Read and code the Angular Documentation 10 times.
      Then study the Source Code. Build many new Angular Apps. Write a couple of Angular Tutorials. Write an Angular 5 Gitbook. Finally contribute in the Angular repositories on Github.
    </p>
  </mat-card>
</div>
